<h2><%= group_name %></h2>
<ul class="publications">
<% publications.each do |pub| %>
	<li>
	<a name="<%= pub[:key] %>"></a><%= pub[:author] %> <b><em><%= pub[:title] %></em></b>.

		<% if pub[:type] == :techreport %>
			Research Report
		<% else %>
         <% puts pub[:type] %>
			<% if pub[:type] == :poster %>
				Poster <em>in</em>
			<% elsif pub[:type] == :short %>
				Short paper <em>in</em>
			<% else %>
				<em>In</em>
			<% end %>
			<% if pub[:journal] then %>
				<%= pub[:journal] %>.
			<% elsif pub[:booktitle] then %>
            <%= pub[:booktitle] %><% if pub[:series] then %> (<em><%= pub[:series] %></em>)<% end %><span class="year">, <%= pub[:year] %></span>.
			<% end %>
		<% end %>

		<% if pub[:pdf] then %>
			<a href="<%= pub[:pdf] %>">PDF</a>
		<% end %>

		<% if pub[:note] then %>
			<%= pub[:note] %>
		<% end %>
	</li>
<% end %>
</ul>
